# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

.vs

/ExcelIO.Framework/bin
/ExcelIO.Net/bin
/ExcelIO.NetCore/bin

/ExcelIO.Framework/obj
/ExcelIO.Net/obj
/ExcelIO.NetCore/obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
